body {
  background: #f7f7f7;
  font: 400 16px 'Nunito Sans', sans-serif;
  line-height: 1.5;
  color: #454545;
}
a {
  color: #747474;
  text-decoration: underline;
}
h1, h2, h3 {
  font-family: 'Archivo Narrow', sans-serif;
}
h1 a {
  color: #484848;
  text-decoration: none;
}
.btn {
  border-radius: 2px;
  font-weight: bold;
}
hr.dashed {
  border-bottom: 1px dashed #979797;
}
.main-header {
  border-bottom: 1px dashed #979797;
}
.site-branding {
  margin-bottom: 30px;
}
.site-description {
  color: #979797;
}
.site-title-heading {
  text-align: center;
}
.site-content {
  margin-top: 20px;
}
.logo {
  display: inline-block;
}
.logo img {
  width: 240px;
}
#main-column .post .entry-header .entry-meta {
  text-transform: uppercase;
  font-size: 12px;
}
#main-column .site-main .post, #main-column .site-main .page {
  border: none;
  padding: 0;
}
.entry-header .podcaster-meta {
  padding: 30px 0 0;
}
.entry-meta-category-tag {
  padding: 0 0 20px;
}
.entry-content {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px dashed #979797;
}
.entry-content .podcaster-meta {
  padding: 20px 0 0;
  margin: 0;
}
.entry-content img {
  margin-bottom: 20px;
}
.player-wrapper {
  margin: 10px 0 20px 0;
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .entry-header .podcaster-meta {
    padding-top: 0;
  }
}
p.question {
  font-weight: 700;
  color: #222;
}
#sidebar-right {
  padding-top: 12.9px;
}
#sidebar-right .widget-title {
  margin-bottom: 20px;
}
#sidebar-left aside.widget, #sidebar-right aside.widget {
  border: 0;
  border-bottom: 1px solid #d3d3d3;
  padding: 20px 10px;
  margin: 0;
}
#sidebar-left aside.widget.page_in_widget p, #sidebar-right aside.widget.page_in_widget p {
  color: #747474;
  font-weight: bold;
  font-size: 14px;
}
#sidebar-left aside.widget.page_in_widget p:last-of-type, #sidebar-right aside.widget.page_in_widget p:last-of-type {
  margin-bottom: 0;
}
#sidebar-left aside.widget.widget_recent_entries ul, #sidebar-right aside.widget.widget_recent_entries ul {
  padding-left: 0;
}
#sidebar-left aside.widget.widget_recent_entries ul li, #sidebar-right aside.widget.widget_recent_entries ul li {
  list-style: none;
}
#sidebar-left .widget h1.widget-title, #sidebar-right .widget h1.widget-title, .podcaster-meta, .comment-reply-title {
  color: #979797;
  font-size: 12px;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  #sidebar-left aside.widget, #sidebar-right aside.widget {
    padding: 20px 0;
  }
}
.comment-total {
  font-size: 12px;
  padding-left: 8px;
}
.form-submit {
  text-align: center;
}
#content .widget .subscribe-links {
  padding: 0;
  margin: 0;
}
#content .widget .subscribe-links li {
  padding: 0;
  list-style: none;
  width: 33.33%;
  display: inline-block;
  float: left;
  text-align: center;
}
#content .widget .subscribe-links li img {
  width: 95%;
  max-width: 62px;
  margin-bottom: 2px;
}
#content .widget .subscribe-links li a {
  display: inline-block;
  font-weight: 700;
}
#content .widget .subscribe-links li a:hover img {
  opacity: 0.8;
}
.latest-episodes {
  margin-bottom: 30px;
}
.latest-episodes h2 {
  margin-bottom: 20px;
}
.mini-episode {
  position: relative;
}
.mini-episode .badge {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dd3d3d;
  font-size: 15px;
  height: 31px;
  line-height: 27px;
}
.mini-episode a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #484848;
  font-weight: 600;
}
.latest-ep-avatar {
  text-align: center;
  margin-bottom: 10px;
}
.latest-ep-avatar img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
}
.site-footer {
  background: #f5f5f5;
  font-size: 12px;
  padding: 10px 0;
  color: #979797;
}
