body {
  background: #f7f7f7;
  font: 400 16px 'Nunito Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Archivo Narrow', sans-serif;
}
h1 {
  a {
    color: #484848;
  }
}

.site-title-heading {
  text-align: center;
}

.logo {
  img {
    width: 296px;
  }
}

#main-column {
  .post .entry-header .entry-meta {
    text-transform: uppercase;
    font-size: 12px;
  }
}


.site-footer {
  background: #f5f5f5;
  font-size: 12px;
  padding: 10px;
  color: #979797;
}