$light-grey: #979797;
$font-family-1: 'Nunito Sans', sans-serif;
$font-family-2: 'Archivo Narrow', sans-serif;

body {
  background: #f7f7f7;
  font: 400 16px $font-family-1;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: $font-family-2;
}
h1 {
  a {
    color: #484848;
  }
}

.main-header {
  border-bottom: 1px dashed $light-grey;
}

.site-branding {
  margin-bottom: 30px;
}

.site-description {
  color: $light-grey;
}

.site-title-heading {
  text-align: center;
}

.site-content {
  margin-top: 20px;
}

.logo {
  display: inline-block;
  img {
    width: 240px;
  }
}

#main-column {
  .post .entry-header .entry-meta {
    text-transform: uppercase;
    font-size: 12px;
  }
}

.entry-header {
  .podcaster-meta {
    padding: 30px 0 0;
  }
}

.entry-content {
  .podcaster-meta {
    padding: 20px 0 0;
    margin: 0;
  }
}

.player-wrapper {
  margin: 10px 0 20px 0;
}

#sidebar-left,
#sidebar-right {
  aside.widget {
    border: 0;
    border-bottom: 1px solid #d3d3d3;
    padding: 20px 10px;
    margin: 0;
    &.page_in_widget {
      p {
        color: #747474;
        font-weight: bold;
      }
    }
    &.widget_recent_entries {
      ul {
        padding-left: 0;
        li {
          list-style: none;
        }
      }
    }
  }
} 

#sidebar-left .widget h1.widget-title,
#sidebar-right .widget h1.widget-title,
.podcaster-meta {
  color: $light-grey;
  font-size: 12px;
  font-family: $font-family-1;
  text-transform: uppercase;
  font-weight: 300;
}



.site-footer {
  background: #f5f5f5;
  font-size: 12px;
  padding: 10px 0;
  color: $light-grey;
}